* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Produto {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
}

.Produto h1 {
    margin-bottom: 20px;
    color: #333;
}

.Produto img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.Produto .Descrição {
    font-size: 16px;
    margin-bottom: 20px;
    color: #666;
}

.Produto .Preço {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #374132;
}

.botão {
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background-color: #0077b5;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-sizing:border-box;
}

.botão:hover {
    background-color: #005f8b;
}