* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.sitemap-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(14, 14, 14, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}


.Pagina_Inicial {
    list-style-type: none; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;

    
}
.Pagina_Inicial a{
    color: red;
    font-size: x-large;
}

.sitemap {
    list-style-type: none; 
    display: flex; 
    flex-direction: row;
    justify-content: space-around; 
}

.sitemap li {
    margin-bottom: 5px;
    margin-right: 20px; 
}

.sitemap a {
    text-decoration: none;
    color: #0077b5;
}

.sitemap a:hover {
    text-decoration: underline;
}
.soberanoSobre{
    list-style-type: none;
    color: darkblue;
    font-size: larger;
}
.Servicos{
    list-style-type: none;
    color: darkblue;
    font-size: larger;
}
.Contato{
    list-style-type: none;
    color: darkblue;
    font-size: larger;
}
.sitemap ul {
    margin-top: 5px;
    padding-left: 20px; 
}

.sitemap ul li {
    text-indent: 2px; 
}
